/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img.d-block.w-100 {
    height: 100vh;
  }

a.nav-link{
    color: white !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.ca{
    margin-bottom: 100px;
    height: fit-content;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button.but:hover,
button.but:focus {
  box-shadow: inset 7.5em 0 0 0 grey;
  transition: 1s;
}

button.but{
    font-family: 'Courgette', cursive;
    background-color: transparent;
    color: white;
    border: 2px solid lightgray;
    padding: 15px;
    border-radius: 25px;
    position: relative;
}

@media screen and (max-width:767px) {
    img.d-block.w-100 {
        height: 80vh;
      }
}
@media screen and (max-width:640px) {
    img.d-block.w-100 {
      height: 80vh;
    }
}
@media screen and (max-width:600px) {
    img.d-block.w-100 {
      height: 100vh;
    }
}
@media screen and (max-width:360px) {
    img.d-block.w-100 {
      height: 100vh;
    }
}



body {
    font-family: 'Lato' sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #fff;
    background-color: #242221;
    /* padding: 30px; */
}
.about-us-img{
    background-image: url(../img/gym2e.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    width: 100%; 
    position: relative;
}


 @media screen and (max-width: 767px) {
    .about-us-img{
     margin-top: 30px;
    }
    .container-fluid2{
        max-width: 100%;
        margin: auto;
      }
}
.nav-link{
    font-weight: 700;
}


@media screen and (max-width: 767px) {
    .explain-text{
     margin-bottom: 20px;
    }
}

.form-img{
    background-image: url(../img/gym3e.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    width: 100%; 
    position: relative;
}

.Form-box1{
    background-image: url(../img/form-img.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: 50vh;
    margin-top: 20px;
    overflow: hidden;
    width: 100%; 
    position: relative;
    filter:brightness(100%);
    background-attachment: fixed;
  }

 .input-field:focus{
   border: 1px solid #ff7e38;
 }

 .program-workout1{
    background-image: url(../img/10\ mass\ body\ building.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    margin-top: 20px;
    overflow: hidden;
    width: 100%; 
    position: relative; 
  }
  .program-workout2{
    background-image: url(../img/muscle\ and\ strength.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    margin-top: 20px;
    overflow: hidden;
    width: 100%; 
    position: relative; 
  }
  .program-workout3{
    background-image: url(../img/fit-man-dumbbell-workout-400.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    margin-top: 20px;
    overflow: hidden;
    width: 100%; 
    position: relative; 
  }
  .program-workout4{
    background-image: url(../img/power\ hypertrophy\ img.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    margin-top: 20px;
    overflow: hidden;
    width: 100%; 
    position: relative; 
  }
  .program-workout5{
    background-image: url(../img/muscle\ and\ strength\ 2.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    margin-top: 20px;
    overflow: hidden;
    width: 100%; 
    position: relative; 
  }
  .program-workout6{
    background-image: url(../img/Fat\ destroyer.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    margin-top: 20px;
    overflow: hidden;
    width: 100%; 
    position: relative; 
  }

  .contact{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image:linear-gradient(90deg,  rgba(0, 0, 0, 0.1) 10%,  rgba(0, 0, 0, 0.1) 100%), url(../img/contacts-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 60px 0;
}
.contact .content h2{
    font-size: 3em;
    font-weight: 500;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}
.contact-info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-info .details{
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;
}
.contact-info .details .icon{
    min-width: 20px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75em;
    color: #ff7e3f;
}
.contact-info .details .text{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    font-weight: 300;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}
.contact-info .details .text:hover{
    color: #ff7e3f;
}
.contact-info .txt{
    margin-top: 50px;
    font-weight: 500;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}
.media{
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0;
    list-style: none;
    color: #ff7e3f;
}
.media .li .a{
    min-width: 30px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7e3f;
    font-size: 2em;
    text-decoration: none;
}
.contact-info .day{
    margin-top: 20px;
    font-weight: 500;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}
.form-contact{
    position: relative;
    width: 40%;
    min-height: 100px;
    padding: 50px;
    background-color: rgba(76, 72, 73, 0.6);
    border-radius: 20px;
}
.contact .form-contact h2{
    font-size: 2em;
    font-weight: 500;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
}
.contact .form-contact .enter{
    position: relative;
    width: 100%;
    margin-top: 20px;
    background-color: transparent !important;
}
.enter input, .enter textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 1.1em;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 10px 0;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid white !important;
    outline: none;
    resize: none;
}
.enter span{
    position: absolute;
    left: 0;
    pointer-events: none;
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    transition: 0.5s;
}
.enter input:focus ~ span, .enter textarea:focus ~ span,
.enter input:valid ~ span
{
    color: white;
    font-size: 0.9em;
    transform: translateY(-20px);
}
.enter input[type="submit"]{
    width: 100px;
    background-color: #ff7e3f !important;
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 700;
    transition: 0.5s;
    font-family: 'Merriweather Sans', sans-serif;
    border-bottom: none !important;
    border-radius: 5px;
}
.enter input[type="submit"]:hover{
    background-color: white !important;
    border:2px solid #ff7e3f !important;
    color: #ff7e3f;
}

@media only screen and (max-width:991px) {
    .contact{
     flex-wrap: wrap;
    } 
    .contact-info{
     width: 35%;
     margin: 30px auto;
    } 
    .form-contact{
        width: 50%;
        margin: 30px auto;
    }
 }
 @media only screen and (max-width:767px) {
     .contact-info{
      width: 80%;
     } 
     .form-contact{
      width: 80%;
     } 
  }
 

